---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = "Oops - The OffSec Library";
const description = "Page not found.";
---

<BaseLayout title={title} description={description}>
    <main class="w-full min-h-[70vh] flex flex-col items-center gap-y-12">
        <h1>{title}</h1>
        <p>{description}</p>
    </main>
</BaseLayout>


