---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "About The OffSec Library.";
---

<BaseLayout title={title} description={description}>
    <main class="mx-auto w-10/12 md:w-1/2 lg:w-1/3 min-h-screen px-2 flex flex-col items-center gap-y-6">
        <h2 class="text-center">{title}</h2>
        <img
            src="/assets/images/hacker-reading-a-book.png"
            alt="Hacker Reading A Book"
            class="w-10/12 md:w-[220px]"
        />
        <div class="flex flex-col items-center gap-y-8">
            <div class="flex flex-col gap-y-4">
                <h3>What Is This?</h3>
                <p>
                    The OffSec Library is a collection of websites for offensive security research, or hackers.  
                    I'm a security enthusiast and like to read various websites/blogs about cybersecurity, especially offensive security. So I wanted to create something like a huge library.
                </p>
            </div>
            <div class="flex flex-col gap-y-4">
                <h3>Contact Me</h3>
                <p>
                    If you would like to issue or send a message, please
                    <a
                        href="https://github.com/hideckies/theoffseclibrary"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="font-bold"
                    >
                        issue on GitHub
                    </a>.
                </p>
            </div>
        </div>
    </main>
</BaseLayout>