---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Disclaimer";
const description = "Disclaimer.";
---

<BaseLayout title={title} description={description}>
    <main class="min-h-screen flex flex-col gap-y-12">
        <h2 class="text-center">{title}</h2>
        
    </main>
</BaseLayout>