---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Privacy Policy";
const description = "Privacy policy.";
---

<BaseLayout title={title} description={description}>
    <main class="min-h-screen flex flex-col gap-y-12">
        <h1 class="text-center">{title}</h1>
        
    </main>
</BaseLayout>