---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WebsiteList from "../components/WebsiteList.astro";
import { shuffle } from "../utils/array";

const allWebsites = await getCollection('websites', ({data}) => {
	return data.draft !== true;
});

// Clone
const _allWebsites = [...allWebsites];

const randomWebsites = shuffle(_allWebsites).slice(0, 12);

const title = "Random - The OffSec Library";
const description = "Find awesome websites from random list.";
---

<BaseLayout title={title} description={description}>
    <main class="mt-8 w-full min-h-[70vh] flex flex-col items-center gap-y-4">
        <h1>#RANDOM</h1>
        <p class="text-lg">Discover new sites from random list.</p>
        <WebsiteList websites={randomWebsites} class="websitelist" />
    </main>
</BaseLayout>
