---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import bookImage from "../assets/images/magic-book.png";

const title = "Request New Website";
const description = "Please tell me awesome websites.";
---

<BaseLayout title={title} description={description}>
    <main class="w-full min-h-screen px-2 flex flex-col items-center gap-y-6">
        <h2 class="text-center">{title}</h2>
        <div class="relative w-[200px] md:w-[240px] h-[200px] md:h-[240px]">
            <div class="absolute top-0 left-0 w-full h-full backdrop-sepia"></div>
            <Image src={bookImage} alt="magic book" class="w-full h-full object-cover" />
        </div>
        <div class="mt-24 md:mx-auto w-full md:w-2/3 flex flex-col gap-y-8">
            <div class="w-full flex flex-col gap-y-4">
                <p>Do you know of any other awesome websites? If so, please let me know from the following:</p>
                <ul class="list-disc">
                    <li>
                        <a
                            href="https://github.com/hideckies/theoffseclibrary/issues/new?assignees=&labels=&projects=&template=request-a-new-website.md&title=Add%20a%20new%20website"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline font-bold"
                        >
                            Issue on GitHub
                        </a>
                    </li>
                    <li>
                        <span class="font-bold">Email at hdks.bug@gmail.com</span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</BaseLayout>