---
import Social from "./Social.astro";
---

<footer
    class="
        mt-14 w-full bg-navy dark:bg-khaki px-6 py-6 md:py-8
        flex flex-col md:flex-row items-center md:justify-center
        md:gap-x-8 gap-y-6 md:gap-y-0
        text-sm text-khaki dark:text-navy
    "
>
    <div>
        <img src="/icon.png" alt="icon" class="w-16 w-16 invert dark:invert-0" />
    </div>
    <div class="flex flex-col md:flex-row justify-around md:gap-x-48 gap-y-4 text-base">
        <div class="flex justify-center gap-x-3">
            <Social title="Twitter" url="https://twitter.com/hideckies" />
            <Social title="GitHub" url="https://github.com/hideckies/security-links" />
            <Social title="Donate" url="https://ko-fi.com/hideckies" />
        </div>
        <div class="flex justify-center gap-x-3">
            <a href="/about">About</a>
            <a href="/newsletter">Newsletter</a>
            <a href="/privacy-policy">Privacy Policy</a>
        </div>
    </div>
</footer>