---
import { Image } from "astro:assets";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
import logoImage from '../assets/logo.png';
---

<header class="relative mx-auto w-full sticky top-0 z-50">
    <div class="w-full p-4 flex flex-col items-center justify-center gap-y-1">
        <div class="w-full grid grid-cols-1 md:grid-cols-3 auto-rows-auto justify-center">
            <div class="absolute top-4 left-4 md:static md:block">
                <ThemeIcon />
            </div>
            <div class="flex justify-center">
                <a href="/">
                    <Image src={logoImage} alt="logo" class="w-[200px] md:w-[260px] dark:invert" />
                </a>
            </div>
            <div class="hidden md:block">
                <div class="w-full h-full flex items-center justify-end text-base font-bold gap-x-2 text-sm">
                    <a href="/about">ABOUT</a>
                    <a href="/request">REQUEST</a>
                </div>
            </div>
        </div>
        <Hamburger />
        <Navigation />
    </div>
</header>
