---
---

<nav
    class="
        nav-links
        m-0 w-10/12 md:w-2/3 lg:w-1/2
        hidden md:flex md:flex-wrap items-center justify-center gap-x-4 gap-y-1
        text-sm font-bold
    "
>
    <a href="/tags/ai">#AI</a>
    <a href="/tags/advisory">#ADVISORY</a>
    <a href="/tags/blog">#BLOG</a>
    <a href="/tags/bugbounty">#BUGBOUNTY</a>
    <a href="/tags/ctf">#CTF</a>
    <a href="/tags/cve">#CVE</a>
    <a href="/tags/forum">#FORUM</a>
    <a href="/tags/malware">#MALWARE</a>
    <a href="/tags/news">#NEWS</a>
    <a href="/tags/osint">#OSINT</a>
    <a href="/tags/research">#RESEARCH</a>
    <a href="/tags/threat-intelligence">#THREAT-INTELLIGENCE</a>
    <a href="/tags/tool">#TOOL</a>
    <a href="/tags/vulnerability">#VULNERABILITY</a>
    <a href="/tags/">ALL TAGS</a>
</nav>

<style>
    .nav-links-hamburger {
        position: fixed;
        top: 0;
        right: 0;
        width: 60vw;
        height: 100vh;
        background-color: var(--color-black);
        padding: 60px 12px 0 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        row-gap: 1em;
        color: var(--color-white);
    }

    .nav-links-hamburger a {
        font-size: 1em;
    }
</style>