<!-- ---
import { Client } from "@sendgrid/client";
import type { ClientRequest } from "@sendgrid/client/src/request";
import Newsletter from "./Newsletter";

let available = true;
const client = new Client();
const apiKey = process.env.SENDGRID_API_KEY;
// const apiKey = import.meta.env.SENDGRID_API_KEY;
if (apiKey) {
    client.setApiKey(apiKey);
} else {
    available = false;
    console.log("Security Links Newsletter form could not be available.");
}

function subscribe(email: string) {
	const data: ClientRequest = {
		method: "PUT",
		url: "/v3/marketing/contacts",
		body: {
			contacts: [{ email }],
		}
	};
	client.request(data)
		.then(([resp, body]: any) => {
			console.log(resp.statusCode);
			console.log(resp.body);
		})
		.catch((e: any) => {
			console.error(e);
		});
}
---

{available ? (
	<Newsletter client:load subscribeFunc={subscribe("")} />
) : (
	<p>Subscription is not currently available.</p>
)}
 -->
