---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import WebsiteCard from '../../components/WebsiteCard.astro';
import WebsiteList from '../../components/WebsiteList.astro';

const allWebsites = await getCollection('websites', ({data}) => {
    return data.draft !== true;
});

const sortedWebsites = allWebsites.sort((a, b) => {
	return (a.data.pubDate > b.data.pubDate) ? -1 : 1;
});

const title = "Websites"
const description = "List of cybersecurity websites."
---

<BaseLayout title={title} description={description}>
    <main
        class="
            mx-auto mt-8
            w-11/12 md:w-3/4 min-h-[70vh] flex flex-col items-center gap-y-4
            "
        >
        <h1>All Websites</h1>
        <WebsiteList>
            {sortedWebsites.map(website => (
                <li class="w-full">
                    <WebsiteCard website={website} />
                </li>
            ))}
        </WebsiteList>
    </main>
</BaseLayout>